<!-- Hero -->
<section class=" flex items-center justify-center">
    <div class="text-center px-4 2xl:px-24 py-48 lg:mt-32">
        <h2 class="text-5xl font-bold text-dg">About Me</h2>
        <p class="mt-6 text-gray-700 max-w-6xl text-xl">Hello! I’m a passionate young developer based in Montreal, Canada. My journey with coding began in the 6th grade, and it has been an exciting adventure ever since. I love the <b>challenge and creativity</b> that comes with developing software, and I’m always eager to dive into new projects and learn the latest technologies.</p>
        <a href="#content" @click="isOpen = false; current = 4" hx-get="views/contact.html" hx-swap="innerHTML" hx-target="#content" class="mt-8 inline-block cursor-pointer bg-p lg:hover:bg-lb transition-colors duration-75 p-3 px-5 rounded-full text-white font-bold">Get in Touch</a>
    </div>
</section>

<!-- Focus -->
<section class=" bg-gray-50 py-24 grid grid-cols-1 lg:grid-cols-2 items-center place-items-center justify-center">
    <div class="px-4 2xl:px-24 pb-12  relative">
        <h2 class="text-4xl font-bold text-dg">My Focus</h2>
        <p style="color: #374151 ;" class="mt-6 text-xl text-dg mb-6">I specialize in <b>full-stack development</b>, crafting user-friendly and visually appealing interfaces with HTML, CSS, JavaScript, HTMX, Tailwind CSS, and Alpine JS. While my focus is on the frontend, I also have experience with <b>backend and server-side development</b>, working with PHP, MySQL, and Python to create robust and scalable web applications. My skill set allows me to build comprehensive, full-stack solutions that bring ideas to life from start to finish.</p>
    </div>
    <div class=" px-4 2xl:px-24">
        <div class="bg-lg p-12 max-w-2xl rounded-lg shadow-lg lg:hover:shadow-xl transition">
            <h3 class="text-2xl font-semibold" >Technologies I've worked with</h3>

            <div class="grid grid-cols-4 gap-4 pt-6">
                <!-- HTML -->
                
                <img class="max-w-16" title="HTML" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />

                <!-- CSS -->
                
                <img  class="max-w-16"  title="CSS" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />
          

                <!-- JS -->
                
                <img class="max-w-16"  title="JavaScript" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
          
                <!-- PY -->
                
                <img class="max-w-16"  title="Python" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-plain.svg" />
          
                <!-- ALPINE -->
                
            
                <img class="max-w-16"  title="Alpine JS" alt="alpinejs" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/alpinejs/alpinejs-original.svg" />
                
                <!-- GD -->
                 
                <img class="max-w-16"  title="Godot" alt="godot" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/godot/godot-original.svg" />
          
                <!-- PHP -->
                 
                <img class="max-w-16"  title="PHP" alt="php" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" />
          
                <!-- MySQL -->

                <img class="max-w-16"  title="MySQL" alt="mysql" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" />
                
                <!-- Tailwind -->
                 
                <img class="max-w-16"  title="Tailwind" alt="tailwind" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" />

                <!-- HTMX -->

                <img  class="max-w-16" title="HTMX" alt="HTMX" src="assets/htmx.svg" alt="HTMX">
                
                <!-- GIT -->

                <img class="max-w-16" title="Git" alt="GIT" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" />

                
                <img class="max-w-16" title="Github" alt="GITHUB" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
           
          

            </div>
        </div>
    </div>
</section>

<!-- Other -->
<section>
    <div class="px-4 2xl:px-24 py-24 flex items-center flex-col gap-8 lg:flex-row ">
        <div>
            <h2 class="text-4xl font-bold text-dg">Other Interests</h2>
            <p style="color: #374151;" class="mt-6 text-xl text-dg mb-6">Beyond coding, I’m passionate about competitive basketball. The game has taught me the value of <b>teamwork, discipline, and perseverance</b>; qualities I bring into my work as a developer. Whether on the court or in the coding world, I thrive on challenges and constantly push myself to improve and achieve my goals.</p>
        </div>
        <img class=" lg:max-w-xl rounded-md drop-shadow-md ring ring-lb" src="assets/basketball.webp" alt="basketball">
    </div>
</section>
