<!-- Hero -->
<section class=" flex items-center justify-center">
    <div class="text-center px-4 2xl:px-24 py-48 lg:mt-24">
        <h2 class="text-5xl font-bold text-dg">My Projects</h2>
        <p class="mt-6 text-gray-700 max-w-6xl text-xl">Here, you'll find an overview of the various projects I've worked on, <b>each showcasing different aspects of my development skills.</b> These projects range from frontend-focused websites to full-stack applications that demonstrate my ability to integrate both frontend and backend technologies. You'll also see examples of my game development work.</p>
        <a hx-get="views/contact.html" hx-swap="innerHTML" hx-target="#content" class="mt-8 inline-block cursor-pointer bg-p md:hover:bg-lb transition-colors duration-75 p-3 px-5 rounded-full text-white font-bold">Let's Talk</a>
    </div>
</section>

<!-- Shotstreak -->
<section class="bg-gray-50  grid grid-cols-1 place-items-center place-content-center items-center lg:justify-items-end lg:grid-cols-2">
    <div class="px-4 2xl:px-24 py-12 pb-0 md:pb-6 lg:py-24  relative">
        <div class="flex flex-col md:flex-row justify-between gap-6 mb-4">
            <h2 class="text-4xl font-bold text-dg">Shotstreak</h2>
            <a href="https://shotstreak.simonsites.com" target="_blank" class=" transition-all md:hover:tracking-widest font-semibold cursor-pointer md:hover:text-db">See Project</a>
        </div>
        <span>Aug 2024</span>
        <p style="color: #374151 ;" class="mt-6 text-xl text-dg mb-6">ShotStreak is a <b>basketball shot tracking app</b> that allows users to set daily shot goals and track their progress. <b>Developed with PHP, Alpine JS, HTMX and Tailwind</b>, the app features goal tracking, shot percentage graphs, coaching, and much more. ShotStreak is designed for athletes who want to monitor and improve their shooting performance.</p>
    </div>

    <div class="lg:p-12 xl:mr-24 lg:pr-4 xl-pr-0 p-4 max-w-2xl">
        <img class="rounded-md drop-shadow-md ring ring-lb" src="assets/shotstreak.png" alt="screenshot">
    </div>
</section>

<!-- Questor -->
<section class=" grid grid-cols-1 place-items-center place-content-center items-center lg:justify-items-end lg:grid-cols-2">
    <div class="px-4 2xl:px-24 py-12 pb-0 md:pb-6 lg:py-24  relative">
        <div class="flex flex-col md:flex-row justify-between gap-6 mb-4">
            <h2 class="text-4xl font-bold text-dg">Questor</h2>
            <a href="https://westr86.itch.io/questor" target="_blank" class=" transition-all md:hover:tracking-widest font-semibold cursor-pointer md:hover:text-db">See Project</a>
        </div>
        <span>Dec 2022</span>
        <p style="color: #374151 ;" class="mt-6 text-xl text-dg mb-6">Questor is a <b>platformer game</b> where players navigate challenging levels filled with obstacles and enemies <b>made with the Godot game engine</b>. The game features collectible items and unlockable abilities. It highlights my skills in level design and gameplay mechanics, reflecting my creativity and technical expertise in game development.</p>
    </div>

    <div class="lg:p-12 xl:mr-24 lg:pr-4 xl-pr-0 p-4 max-w-2xl">
        <img class="rounded-md drop-shadow-md ring ring-lb" src="assets/questor.png" alt="screenshot">
    </div>
</section>

<!-- Simonsites -->
<section class="bg-gray-50  grid grid-cols-1 place-items-center place-content-center items-center lg:justify-items-end lg:grid-cols-2">
    <div class="px-4 2xl:px-24 py-12 pb-0 md:pb-6 lg:py-24  relative">
        <div class="flex flex-col md:flex-row justify-between gap-6 mb-4">
            <h2 class="text-4xl font-bold text-dg">Simon Sites</h2>
            <a href="https://simonsites.com/" target="_blank" class=" transition-all md:hover:tracking-widest font-semibold cursor-pointer md:hover:text-db">See Project</a>
        </div>
        <span>May 2024</span>
        <p style="color: #374151 ;" class="mt-6 text-xl text-dg mb-6">SimonSites is <b>my website development business</b>, created from my passion for web development. It offers custom, responsive websites tailored to client needs, combining frontend design with backend functionality. Simonsites represents my dedication to crafting professional, user-friendly web solutions.</p>
    </div>

    <div class="lg:p-12 xl:mr-24 lg:pr-4 xl-pr-0 p-4 max-w-2xl">
        <img class="rounded-md drop-shadow-md ring ring-lb" src="assets/simonsites.png" alt="screenshot">
    </div>
</section>

